{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "useBuiltIns": "entry",
      "targets": [
        "> 1%",
        "last 2 versions",
        "not ie <= 10",
        "chrome 41",
        "node 8"
      ],
      "include": [
        "transform-classes",
        "proposal-object-rest-spread"
      ]
    }],
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { legacy: true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
