@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

a {
  color: unset !important;
  text-decoration: none;
}
p {
  color: #616161;
}
h2, h3, h4, h5, h6 {
  color: #616161;
}
h1 {
  color: #333;
  font-weight: 400;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #333;
  font-weight: 500;
}
h3 {
  color: #b0b0b0;
  font-size: 1.25em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /*height: 1.2em;*/
  line-height: 1.2;
}
p > a {
  text-decoration: underline;
}
ol, ul {
  list-style-position: inside;
}
button:focus {
  outline: 0 !important;
}
.small-p {
  font-size: 12px;
  color: #9e9e9e;
  margin-bottom: 0px;
}
/*  ---- Transitions ---- */
.fade-transition-leave-active {
  position: absolute;
}

/*  ---- Main navbar ----  */
#d-menu {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 195;
}
#d-menu > .d-menu-inner {
  height: 100%;
  width: 100%;
  background-color: rgba(239, 83, 80, 0.5);
  opacity: 0;
  animation: slideInBottom .4s;
  animation-fill-mode: forwards;
}

#d-menu .d-menu-item {
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  font-weight: bold;
  padding: 14px 24px;
  font-size: 16px;
  color: #fff;
  opacity: 0;
  animation: slideInLeft 0.3s;
  animation-fill-mode: forwards;
}
#d-menu .d-menu-close {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 36px;
}
#d-menu .d-menu-item.idx-0 {
  background-color: #ef5350;
  animation-delay: 0.15s;
}
#d-menu .d-menu-item.idx-1 {
  /* background-color: #f1817f; */
  background-color: rgba(239, 83, 80, 0.9);
  animation-delay: 0.12s;
}
#d-menu .d-menu-item.idx-2 {
  background-color: rgba(239, 83, 80, 0.8);
  animation-delay: 0.08s;
}
#d-menu .d-menu-item.idx-3 {
  background-color: rgba(239, 83, 80, 0.7);
  animation-delay: 0.05s;
}
#d-menu .d-menu-item.idx-4 {
  background-color: rgba(239, 83, 80, 0.6);
}
#d-menu .d-menu-item.idx-5 {
  background-color: rgba(239, 83, 80, 0.5);
}

@keyframes slideInLeft {
  from {
    transform: translate(-25%,0);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideInBottom {
  from {
    transform: translate(0,25%);
    opacity: 0;
  }
  to {
    transform: translate(0,0);
    opacity: 1;
  }
}

/*.application--wrap {*/
  /*padding-top: 64px;*/
/*}*/
.main-navbar {
  height: 64px;
  z-index: 100;
  transition: background-color 0.3s !important;
}
.main-navbar .post-a-job-button {
  color: white;
}
.main-navbar .nav-notifications-btn {

}
.main-navbar.white-bg {
  background-color: white !important;
}
.main-navbar.white-bg,
.main-navbar.white-bg a,
.main-navbar.white-bg .post-a-job-button,
.main-navbar.white-bg .v-btn {
  color: #ef5350 !important;
}
.main-navbar .v-menu__activator {
  height: 64px;
}
.main-navbar .nav-items .v-btn > .v-btn__content {
  height: 64px;
}
.mobile-navbar > .header-icon-container {
  position: fixed;
  height: 56px;
  transition: background-color 0.3s;
}
.mobile-menu {
  position: fixed;
}
.navigation-drawer.mobile-menu {
  z-index: 101;
}
.nav-text {
  font-size: 10px;
  position: absolute;
  text-align: center;
  top: 41px;
}
.nav-img {
  /* position: absolute; */
  width: 20px;
}
.nav-profile-pic {
	width: 28px;
	border-radius: 50%;
	top: 10px;
}
.nav-notification-mark {
  position: absolute;
  min-width: 15px;
  font-size: 10px;
  border-radius: 8px;
  top: 15px;
  left: 25px;
  background-color: #ef5350;
  color: #fff;
}
.navbarNotifications {
  max-height: 240px;
}
.black {
  background-color: #222 !important;
  border-color: #222 !important;
}
.black .v-btn__content {
  color: #fff;
}

/*  ---- Styles to globally override Vuetify ----  */
.container {
  padding-top: 80px;
}
.v-text-field {
  padding-top: 0 !important;
  margin-top: 12px;
}
.v-menu__content.v-autocomplete__content .v-input__slot {
  margin-bottom: 0;
}
.v-input.v-input--checkbox,
.v-input--radio-group {
  margin-top: 0;
}
i.icon--selection-control {
  line-height: 28px;
}
.kunvet-red-bg.v-btn {
  color: #fff !important;
}
.v-btn--outline .v-btn__content {
  height: 34px;
}
.v-btn--outline.v-btn--small .v-btn__content {
  height: 27px;
}
.expansion-panel__container {
  overflow-y: hidden !important;
}
.alert.success {
  background-color: #4caf50 !important;
}
.theme--light .list .list__tile--link:hover {
  background: rgba(0,0,0,0.08) !important;
}
.input-group--text-field.input-group--dirty:not(.input-group--textarea) label {
  transform: translate3d(0, -18px, 0) scale(0.75) !important;
}
.input-group__details {
  color: #1976D2;
}
.input-group--error .input-group__details {
  color: #f00;
}


.application,
main {
  background-color: #fff;
}
.application--light .input-group:not(.input-group--error):not(.input-group--disabled) .input-group--selection-controls label,
.input-group--text-field:not(.input-group--error):not(.input-group--disabled) label,
.radio-group:not(.input-group--error):not(.input-group--disabled) label,
.radio-group:not(.input-group--error):not(.input-group--disabled) i,
.v-input:not(.input-group--error):not(.v-input--is-disabled) label,
.v-input:not(.input-group--error):not(.v-input--is-disabled) i {
  color: #4d4d4d;
}
.accent--text {
  color: #4d4d4d;
}
.input-group--disabled .input-group__selections__comma:not(.input-group__selections__comma--active) {
  color: rgba(0,0,0,.38) !important;
}
/* .radio-group .radio label,
.input-group.checkbox.input-group--selection-controls label {
  line-height: 24px;
} */
.v-toolbar__content {
  max-width: 1008px; /* 960 + 48 */
  margin: auto;
}
.tabs__item {
  text-transform: none;
}
.disabled {
  color: rgb(224, 224, 224);
}
.chip--select-multi {
  border: none;
  font-size: 16px;
  padding-left: 0;
  padding-right: 12px;
  background-color: #fff !important;
  box-shadow: none !important;
}
.chip__close i.icon {
  font-size: 18px;
}
.menu__content--select .list .checkbox i {
  height: 24px !important;
}
.menu__content--select .list .list__tile__action {
  min-width: 36px;
}
.menu__content--select .list--dense .list__tile__title {
  font-size: 14px !important;
}
.v-input.v-input--checkbox.kunvet-red.v-input--is-label-active i,
.v-input.v-input--checkbox.kunvet-red.v-input--is-label-active label {
  color: #ef5350 !important;
}
.v-autocomplete__content .v-input__slot:after,
.v-autocomplete__content .v-input__slot:before {
  display: none;
}
.v-autocomplete__content .v-list__tile__action {
  min-width: 40px;
}
/*  ---- End of Styles to globally override Vuetify ----  */

/*  ---- Custom selects ----  */
.custom-select {
  height: 48px;
  padding: 0 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}
.custom-select .v-btn {
  position: absolute;
  right: 0;
}
.custom-select span,
.custom-select-2 span {
  color: #000;
  line-height: 48px;
}
.custom-select-2-wrapper {
  position: relative;
  height: 48px;
  width: 100%;
}
.custom-select-2 .v-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.custom-select-2 .inner {
  padding: 0 16px;
  cursor: pointer;
  max-height: 48px;
}
.custom-select-2 .custom-select-menu {
  overflow-y: scroll;
  height: 212px;
}
.custom-select-menu.v-list--dense i.v-icon--selection-control {
  line-height: 28px;
}
.custom-select-menu .input-group--selection-controls.input-group--disabled .input-group__input i.icon--selection-control {
  color: rgba(0,0,0,0.38) !important;
}
.custom-select-2 {
  position: absolute;
  height: 48px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: hidden;
  transition: all 0.3s ease;
  z-index: 2;
}
.custom-select-2.active {
  height: 260px !important;
  z-index: 3;
}
.custom-select-menu {
  max-height: 300px;
  min-width: 220px;
}
.custom-select-menu,
.custom-select-menu li {
  background-color: #fff;
}
.listFilterContainer {
  width: 100%;
  padding: 0 16px;
  height: 28px;
  position: relative;
  margin-bottom: 2px;
}
.listFilterContainer i {
  line-height: 28px;
  color: #616161;
  color: rgba(0,0,0,0.54);
}
.filterInput {
  width: calc(100% - 50px);
  height: 20px;
  margin: 4px 0 4px 3px;
  outline: none !important;
  position: absolute;
  top: 0;
}
/* ---- End of custom selects ----  */
.post-a-job-button {
  height: 28px !important;
}
.post-a-job-button .v-btn__content {
  height: 26px;
}
main {
  min-height: calc(100vh - 121px);
}
main.dn {
  min-height: calc(100vh - 169px);
}
i.fa.fa-plus-circle {
  transform: translateY(-2px);
}
.one-line {
  overflow: hidden;
  white-space: nowrap;
}
.ellipsis {
  text-overflow: ellipsis;
}
.dont-capitalize {
  text-transform: none;
}
.make-selectable {
  -moz-user-select: text;
   -khtml-user-select: text;
   -webkit-user-select: text;
   -ms-user-select: text;
   user-select: text;
}
.saved {
  color: #ffcc00 !important;
}
.svg-button img {
  height: inherit;
  display: block;
  margin: auto;
}
.cropper-view-box {
  /* outline-offset: -1px; */
  outline: 1px solid #39f !important;
  outline-color: #39f !important;
}
.vue-cropper {
  background-repeat: repeat;
}
.first-search-img {
  max-width: 80%;
}
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -5px;
  color: dimgray;
  /*min-height: 100px; !* minimum height *!*/

  position: relative;
  cursor: pointer;
}
.dropbox .input-file {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  cursor: pointer;
  z-index: 5;
}
.dropbox:hover {
  background: lightblue; /* when mouse over to the drop zone, change color */
}
.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 20px 0;
}
.notification-container {
  margin: auto;
  max-width: 400px;
  min-height: 50vh;
  background-color: #fff;
}
.no-padding-select {
  padding-top: 0;
}
.no-padding-select label {
  top: 0;
}
.no-border-radius {
  border-radius: 0;
}
.bottom-dialog-button {
  width: 100%;
  line-height: 48px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: #fff !important;
  background-color: #ef5350 !important;
}
.bottom-dialog-button.disabled {
  opacity: 0.75;
}
.kunvet-red,
.kunvet-red.input-group--active label,
.kunvet-red .icon--radio {
  color: #ef5350 !important;
}
.kunvet-red-bg {
  background-color: #ef5350 !important;
}
.white-bg {
  background-color: #fff;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.center {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.hidden-input {
    display: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 24px #fff;
}
input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
    color: #e0e0e0;
}
textarea::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea:-moz-placeholder {
    color: #e0e0e0;
}
form {
    margin: 0;
}
.devmode {
	position: fixed;
	top: 150px;
	left: -10px;
	z-index: 999;
	transform: rotate(-45deg);
	transform-origin: left;
	background: #ef5350;
	color: #fff;
	width: 250px;
	text-align: center;
	opacity: .2;
	transition: opacity .2s;
	cursor: default;
}
.devmode:hover {
	opacity: 1;
}
.general-spin {
    transform: rotate(-90deg);
    height: 24px;
    width: 24px;
    margin: auto;
    left: 0;
    right: 0;
}
.general-spin circle {
    animation: general-spin 1.5s infinite;
    animation-timing-function: linear;
    transform-origin: 8px 8px;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
@keyframes general-spin {
    0% {
        stroke-dasharray: 0 25.13;
        transform: rotate(0);
    }
    50% {
        stroke-dasharray: 12.57 12.57;
        transform: rotate(270deg);
    }
    100% {
        stroke-dasharray: 0 25.13;
        transform: rotate(720deg);
    }
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-color: #fafafa; */
}
/* nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: all 0.2s ease;
} */
#nav-contents {
    position: absolute;
    top: 0;
    width: 960px;
    margin: auto;
    left: 0;
    right: 0;
    height: 100%;
    box-sizing: border-box;
}
#nav-logo-svg,
#nav-logo-svg svg {
  height: 64px;
  fill: #ef5350;
  --navbar-icon-color: #ef5350;
}
.black svg#nav-logo-svg {
  --navbar-wordmark-color: #fff;
}
#nav-items {
    position: absolute;
    top: 0;
    right: 48px;
    height: 100%;
    color: #ef5350;
}
#nav-around-me,
#nav-user-center {
    margin: 16px 8px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    float: right;
}
#nav-login-toggle {
    position: relative;
    float: right;
    cursor: pointer;
    margin-left: 20px;
}
#nav-login-toggle,
#nav-login-toggle-btn {
    transition: all 0.2s ease;
}
.nav-login-toggle {
    margin: 18px 0 18px 8px;
    height: 28px;
    width: 64px;
    border-radius: 2px;
    background-color: #e6e6e6;
}
.nav-login-toggle-logged-in {
    background-color: #ef5350;
}
.nav-login-toggle-logout-pending {
    background-color: #ffa726;
}
.nav-login-toggle-btn {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 34px;
    height: 24px;
    border-radius: 1px;
    background-color: #fff;
    color: #e6e6e6;
    transition: all 0.2s ease;
}
.nav-login-toggle-btn span {
    display: inline-block;
    line-height: 24px;
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease;
}
.nav-login-toggle-btn .general-spin circle {
    stroke: #ffa726;
}
.nav-login-toggle-btn-logged-in {
    left: 28px;
    color: #ef5350;
}
.nav-login-toggle-btn-logout-pending {
    left: 2px;
    width: 60px;
    color: #ffa726;
}
#nav-login,
#nav-logout {
    display: none;
}
#main {
    position: absolute;
    top: 64px;
    width: 100%;
    box-sizing: border-box;
    color: #616161;
}
.main-cont-large {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: auto; /* previously: 50px auto */
    left: 0;
    right: 0;
    padding: 0;
    background-color: #fff;
    /* border: 1px solid #eeeeee; */
    box-sizing: border-box;
}
.main-cont-large-clear {
    position: relative;
    width: 960px;
    margin: 30px auto; /* previously: 50px auto */
    left: 0;
    right: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont-small {
    position: relative;
    width: 500px;
    margin: 64px auto;
    left: 0;
    right: 0;
    padding: 0;
    background-color: #fff;
    /*border: 1px solid #eeeeee;*/
    box-sizing: border-box;
}
.general-stripes {
    padding: 0;
    margin: 0;
    list-style: none;
}
.general-stripe-cont {
    transition: all 0.2s ease;
}
.general-stripe-cont-action {
    float: right;
    font-weight: bold;
}
.general-stripe-cont-action-highlight {
    color: #fb8c00;
}
.general-stripe:nth-child(2n-1) .general-stripe-cont {
    background-color: #f5f5f5;
}
.general-stripe:nth-child(2n) .general-stripe-cont {
    background-color: #fafafa;
}
.general-stripe a .general-stripe-cont {
    padding: 24px 48px;
}
.general-stripe a .general-stripe-cont:hover {
    background-color: #fff;
}
.general-input {
    position: relative;
    background-color: #fff;
    width: 384px;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 0 8px 0;
    height: 48px;
}
.expansion-panel__container {
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0 0 8px 0;
  overflow-y: scroll;
  max-height: 245px;
}
.general-input-mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0);
    transition: all 0.2s ease;
    z-index: 1;
}
.general-input-mark-error {
    border-top-color: #ffa726;
    border-right-color: #ffa726;
}
.main-cont-small .general-input {
    width: 100%;
}
.general-tag {
    display: inline-block;
    margin: 0 8px 8px 0;
    padding: 8px 12px;
    border-radius: 2px;
    font-size: 9pt;
    background-color: #fff;
    color: #9e9e9e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.general-check {
    display: inline-block;
    cursor: pointer;
}
.general-check-icon {
    color: #e0e0e0;
    transition: all 0.2s ease;
}
.general-check-icon-checked {
    color: #ef5350;
}
.general-input-for-dropdown,
.general-input-for-multiselect {
    box-shadow: none;
}
.general-input input {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    font-size: 12pt;
    height: 48px;
    line-height: 32px;
    padding: 8px 16px;
    border: none;
    box-sizing: border-box;
    margin: 0;
}
.general-textarea {
    position: relative;
    background-color: #fff;
    width: 100%;
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 0 0 8px 0;
}
.general-textarea textarea {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    border: none;
    resize: none;
    font-size: 12pt;
    padding: 16px;
    box-sizing: border-box;
}
.general-textarea-resize {
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    color: #9e9e9e;
    background-color: #fafafa;
    cursor: ns-resize;
}
.general-dropdown {
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.general-dropdown-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    height: 16px;
    line-height: 16px;
    z-index: 1;
    transition: all 0.2s ease;
}
.general-dropdown-items {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    position: absolute;
    background-color: #fff;
    top: 0;
    height: 48px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}
.general-dropdown-item {
    background-color: rgba(255, 255, 255, 0);
    height: 32px;
    line-height: 32px;
    padding: 8px 16px;
    cursor: pointer;
    z-index: 2;
}
.general-dropdown-index {
    color: #e0e0e0;
}
.general-multiselect {
    text-align: left;
    position: absolute;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
}
.general-multiselect-done,
.general-multiselect-clear {
    position: absolute;
    top: 16px;
    height: 16px;
    line-height: 16px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease;
}
.general-multiselect-done {
    right: 48px;
    color: #ef5350;
    opacity: 0;
}
.general-multiselect-clear {
    right: 16px;
    color: #e0e0e0;
}
.general-multiselect-items {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 48px;
    width: 100%;
    border-radius: 2px;
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.2s ease;
}
.general-multiselect-index {
    background-color: rgba(255, 255, 255, 0);
    height: 32px;
    line-height: 32px;
    padding: 8px 16px;
    cursor: pointer;
    z-index: 2;
}
.general-multiselect-item {
    background-color: rgba(255, 255, 255, 0);
    height: 32px;
    line-height: 32px;
    padding: 8px 16px;
    cursor: pointer;
    z-index: 2;
}
.general-multiselect-check {
    color: #e0e0e0;
    transition: all 0.2s ease;
}
.general-multiselect-check-checked {
    color: #ef5350;
}
#general-submit,
.general-submit {
    box-shadow: 0 10px 12px -4px #eaeaf9;
    font-weight: bold;
    position: relative;
    width: 100%;
    height: 64px;
    line-height: 64px;
    text-align: center;
    overflow: hidden;
}
.general-submit.small {
  height: 50px;
  line-height: 50px;
  font-weight: 400;
}
#general-submit-default,
.general-submit-default {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #ef5350;
    color: #fff;
    height: 64px;
    line-height: 64px;
    cursor: pointer;
}
.general-submit.small .general-submit-default {
  height: 50px;
  line-height: 50px;
}
#general-submit-error {
    position: absolute;
    left: 100%;
    width: 100%;
    background-color: #ffa726;
    color: #fff;
    height: 64px;
    line-height: 64px;
}
#bottom {
    background-color: #fff;
    border-top: 1px solid #c3c3c3;
}
#bottom p {
  margin-bottom: 4px;
  margin-top: 4px;
}
.bottom-sticky {
    position: fixed;
    bottom: 0;
    width: 100%;
}
#bottom-content {
    width: 960px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 4px 40px;
    color: #fff;
    box-sizing: border-box;
}
#nav-img {
    position: absolute;
    left: 35px;
    top: 12px;
    width: 20px;
}
@media (min-width: 601px) and (max-width: 960px) {
  .padding-sm-right {
    padding-right: 15px;
  }
  .padding-sm-left {
    padding-left: 15px;
  }
}
@media (min-width: 961px) {
  .flex {
    padding: 10px 0;
  }
  .notification-container {
    min-height: 45vh;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  section {
      position: relative;
      width: 100%;
      padding: 24px 48px;
      box-sizing: border-box;
  }
  section:first-of-type {
      padding-top: 48px;
  }
  section:last-of-type {
      padding-bottom: 48px;
  }
}
@media (max-width: 960px) {
    .flex {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    section {
        padding: 16px 16px;
    }
    #nav-contents {
        width: 100%;
    }
    .main-cont-large, .main-cont-large-clear {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .main-cont-large #general-submit {
        border-bottom: 1px solid #fff;
    }
    .general-tag {
        padding: 4px 6px;
    }
    #bottom-content {
        width: 100%;
    }
}
@media (min-width: 601px) {
    h1 {
      font-size: 32px;
    }
    .padding-15px-right-sm-up {
      padding: 0 15px 0 0;
    }
    .padding-10px-sm-up {
      padding: 10px;
    }
    .float-right-sm-up {
      float: right;
    }
    .align-right-sm-up {
      text-align: right;
    }
    .main-navbar,
    .main-navbar .v-toolbar__content,
    #nav-logo-svg,
    #nav-logo {
      height: 64px !important;
    }
    /*.application--wrap {*/
      /*padding-top: 64px;*/
    /*}*/
}
@media (max-width: 600px) {
    #bottom .footer-big-text {
      width: 100%;
    }
    .first-search-img {
      max-width: 100px !important;
      display: block;
      margin: auto;
    }
    .job-post__helper-nav-bar {
      display: none;
    }
    .no-padding-xs {
      padding: 0 !important;
    }
    h1 {
      font-size: 1.8em;
      -webkit-margin-after: 0.83em;
    }
    .container {
      /* padding-top: 72px; */
      padding-left: 16px;
      padding-right: 16px;
    }
    .hidden-xs {
      display: none;
    }
    body, .application {
      background-color: #fff;
    }
    .main-navbar,
    .main-navbar .v-toolbar__content,
    #nav-logo-svg,
    #nav-logo {
      height: 56px !important;
    }
    /*.application--wrap {*/
      /*padding-top: 54px;*/
    /*}*/
    #nav-items {
        top: -8px;
        right: 16px;
    }
    #nav-around-me span {
        display: none;
    }
    .main-cont-small {
        width: 100%;
        margin: 0;
        border: none;
        border-radius: 0;
    }
    .main-cont-small #general-submit {
        border-bottom: 1px solid #fff;
    }
    .general-stripe .general-stripe-cont {
        padding: 16px;
    }
    .general-stripe a .general-stripe-cont {
        padding: 16px;
    }
    .general-input {
        width: 100%;
    }
    #bottom-content {
        padding: 0px 16px;
    }
}
