.kunvet-black-large-btn,
.kunvet-black-small-btn,
.kunvet-accept-large-btn,
.kunvet-reject-large-btn,
.kunvet-large-small-btn,
.kunvet-accept-small-btn,
.kunvet-reject-small-btn,
.kunvet-pomote-large-btn,
.kunvet-promote-small-btn {
  border-width: 1px;
  border-style: solid;
  text-transform: none;
  min-width: auto;
}
.kunvet-black-large-btn,
.kunvet-accept-large-btn,
.kunvet-reject-large-btn,
.kunvet-promote-large-btn {
  height: 36px !important;
  margin: 15px 5px 15px 5px !important;
}
.kunvet-black-small-btn,
.kunvet-accept-small-btn,
.kunvet-reject-small-btn,
.kunvet-promote-small-btn {
  height: 30px !important;
  margin: 5px 0 0 8px;
}
.kunvet-black-large-btn,
.kunvet-black-small-btn {
  border-color: black;
  color: black;
}
.kunvet-accept-large-btn,
.kunvet-accept-small-btn {
  border-color: #FF9800;
  color: #FF9800 !important;
}
.kunvet-reject-large-btn,
.kunvet-reject-small-btn {
  border-color: #F44336;
  color: #F44336 !important;
}
.kunvet-promote-large-btn,
.kunvet-promote-small-btn {
  border-color: #8aacb8;
  color: #8aacb8 !important;
}
.kunvet-v-btn,
.kunvet-v-btn.v-btn {
  background-color: #ef5350;
  color: #fff;
  margin: 0;
  border-radius: 2px;
  padding: 0 20px;
  /* box shadow is simply half as light as regular v-btn */
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.1), 0px 2px 2px 0px rgba(0,0,0,0.07), 0px 1px 5px 0px rgba(0,0,0,0.06);
}
.kunvet-v-btn.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #ef5350;
}
.kunvet-v-btn .v-btn__content {
  text-transform: none;
}
.kunvet-v-btn.light,
.kunvet-v-btn.light.v-btn,
.kunvet-v-btn.light.theme--light.v-btn:not(.v-btn--icon):not(.v-btn--flat) {
  background-color: #ff6969;
}
.kunvet-v-btn.light.v-btn--disabled,
.kunvet-v-btn.v-btn--disabled {
  background-color: rgba(0,0,0,0.26);
}
.kunvet-search-btn,
.kunvet-search-icon-btn {
  -webkit-box-shadow: 0 3px 14px rgb(249, 157, 156);
  -moz-box-shadow: 0 3px 14px rgb(249, 157, 156);
  box-shadow: 0 3px 14px rgb(249, 157, 156) !important;
}
.kunvet-search-icon-btn {
  display: block;
  height: 72px;
  width: 72px;
  background-color: #ff6969;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  outline: none !important;
}
.kunvet-search-icon-btn.small {
  height: 56px;
  width: 56px;
}

.iconRedButton {
  display: block;
  height: 72px;
  width: 64px;
  background-color:#FF6969;
  text-align: center;
  box-shadow: 0 10px 12px -4px #F3E1E1;
  font-family: "Roboto";
  outline: none !important;
}

.iconRedButton:hover {
  background-color:#ef5350;
}

.loginRedButton {
  display: inline-block;
  height: 48px;
  width: 120px;
  color: #FFFFFF;
  background-color:#FF6969;
  text-align: center;
  box-shadow: 0 10px 12px -4px #eaeaf9;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
  outline: none !important;
  font-size: 1.1em;
}

.loginRedButton:hover {
  background-color:#ef5350;
}

.loginRedButton:disabled{
  color: #ACAEB1;
  background-color:#EBEBEC;
  box-shadow: none !important;
}

.disabledButton{
  display: inline-block;
  height: 48px;
  width: 120px;
  color: #ACAEB1;
  background-color:#EBEBEC;
  text-align: center;
  box-shadow: none !important;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
  outline: none !important;
  font-size: 1.1em;
}

.errorButton{
  display: inline-block;
  height: 48px;
  width: 120px;
  color: #FFFFFF;
  background-color:#FFBA5A;
  text-align: center;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  vertical-align: center;
  outline: none !important;
  font-size: 1.1em;
}
