.job-post__helper-nav-bar {
  /* padding-top: 64px; */ /* Make this padding the same height as the main nav-bar to push it donw belwo */
}

.job-post__helper-nav-bar .btn__content {
  color: #616161;
}
.job-post__helper-nav-bar .btn:hover .btn__content:before {
  background-color: transparent;
}
.job-post__helper-nav-bar .btn:hover .btn__content span {
  color: red;
}
.job-post__helper-nav-bar .v-btn--active::before {
  /* background-color: #f5f5f5 !important; */
  display: none;
}

.job-post__helper-nav-bar .v-toolbar__items .v-btn {
  text-transform: none;
  color: #616161;
  border-radius: 0;
}

.job-post__helper-nav-bar__divider {
  display: inline-block;
  height: 20px;
  border-left: 1px solid black;
  margin: 14px 10px 0 10px;
}

.job-post__helper-nav-bar__active-link {
  border-bottom: 2px solid #ef5350;
}

.job-post__helper-nav-bar__active-link .job-post__helper-nav-bar__btn-text {
  color: #ef5350 !important;
}

.job-post__helper-nav-bar__post-a-job .v-btn__content {
  color: #ef5350 !important;
}

.job-post__helper-nav-bar__post-a-job:hover .v-btn__content:before {
  background-color: transparent;
  display: none;
}

.job-post__helper-nav-bar__post-a-job__icon {
  font-size: 1.2em;
  padding-right: 5px;
}

.job-post__container {
  padding-top: 20px;
}
