<div style="font-family: 'Roboto', sans-serif; text-align: center;">
  <p>

    You requested a password reset for your Kunvet account. To reset your password, just click the button below and enter a new password.
  </p>
  <br>
  <a style="padding: 8px 16px; background-color: #ef5350; color: #fff; text-decoration: none; border-radius: 3px;"
    href="https://kunvet.com/reset-password/{{ code }}">
    Reset Password
  </a>
  <br><br>
  <p>This is a one-time link that will expire in 24 hours.</p>
</div>

<footer>
Kunvet Team
</footer>
