{{#> master}}
  {{#*inline "title"}}
    Reset Password
  {{/inline}}
  {{#*inline "heading"}}
    Reset Password
  {{/inline}}
  {{#*inline "content"}}
	<p>
	  You requested a password reset for your Kunvet account. To reset your password, just click the button below and enter a new password.
	</p>
	<a class="link-button" href="https://kunvet.com/reset-password/{{ code }}">Reset Password</a>
  {{/inline}}
{{/master}}
