{{#> master}}
  {{#*inline "content"}}
  <p>
    Your job {{ jobname }} has a new applicant: {{ name }}
  </p>
  <a href="www.kunvet.com/applicants">View your applicants</a>
  {{/inline}}
{{/master}}
