{{#> master}}
  {{#*inline "content"}}
  <p>
  Hello {{ name }},
  </p>

  <p>
    Unfortunately, your application for {{ jobname }} has been rejected by the employer.
  </p>
  <br>
  <p>
    Don't lose hope, there's plenty more jobs to be found!
  </p>
  <a href="www.kunvet.com">Browse more jobs on Kunvet</a>
  {{/inline}}
{{/master}}
