<p>
Hi {{ firstname }},
</p>

<p>
We are glad that you've chosen to join Kunvet, the leading local job platform in Irvine! Here are a few things you can do:

<ul>
	<li><a href="https://www.kunvet.com/account">Fill out your personal bio</a></li>
	<li><a href="https://www.kunvet.com/">Start a job search</a></li>
	<li><a href="https://www.kunvet.com/appliedjobs">Track your job applications</a></li>
</ul>
</p>

<footer>
Kunvet Team
</footer>
