{{#> master}}
  {{#*inline "content"}}
  <p>
     The hiring manager of {{ jobname }} is interested in your application!
     They should contact you shortly.
  </p>
  <a href="www.kunvet.com/applied" style="color: #ef5350;">View your applied jobs</a>
  {{/inline}}
{{/master}}
