{{#> master}}
  {{#*inline "heading"}}
    Verify your email
  {{/inline}}
  {{#*inline "content"}}
  <img src="https://s3.amazonaws.com/kunvet-prod-assets/header.png" data-inline-ignore alt="kunvet's mascot" width="150px" height="150px" />
	<p>
	  You are one step away from a Kunvet account! Simply click the link below to verify your email address:
	</p>
	<a class="link-button" href="https://beta.kunvet.com/validate/{{ code }}">Verify Email</a>
  {{/inline}}
{{/master}}
